<div id ="wrapper">
	<div id="menu">
		<ul>
			<li class="menu_item"><a href="home">Home</a></li>
			<li class="current_page_item"><a href="about">About</a></li>
			<li class="menu_item"><a href="activities">Activities</a></li>
			<li class="menu_item"><a href="support">Support</a></li>
			<li class="menu_item"><a href="contact">Contact</a></li>

			<div id="search" >
				<form method="get" action="#">
					<div>
						<input type="text" name="s" id="search-text" value="" placeholder="jpt" />
						<input type="submit" id="search-submit" value="GO" />
					</div>
				</form>
			</div>
		</ul>

		<div id = "listing">
				<%= link_to 'Support Us', "#" %>
        </div>
	</div>
	


	<div id = "about-boxes">
		<div id = "about-us" class = "shining">
			<h2><a href="javascript:void(0);">About Us</a></h2>
			<div class = "shining-text">Brew some coffee and drink it before you leave</div>
		</div>
		<div id = "our-goals" class = "shining">
			<h2><a href="javascript:void(0);">Our Goals</a></h2>
			<div class = "shining-text">Brew some coffee and drink it before you leave</div>
		</div>
	</div>
	
	<div style="clear: both;">&nbsp;</div>
	
	<div class = "about-sub">
		<div id = "about-us-sub" style="display: none">
			<div class= "tabs">
				<span class = "tab1">
					<a href="javascript:void(0);">Tab1</a>
				</span>
				<span class = "tab2">
					<a href="javascript:void(0);">Tab2</a>
				</span>
				<span class = "tab3">
					<a href="javascript:void(0);">Tab3</a>
				</span>
			</div>
			<div class = "tab-content style="display: none">
				<div class = "tab1">
					Nepal is a landlocked sovereign state located in South Asia. It is located in the Himalayas and bordered to the north by the People's Republic of China, and to the south, east, and west by the Republic of India. With an area of 147,181 square kilometres (56,827 sq mi) and a population of approximately 30 million, Nepal is the world's 93rd largest country by land mass and the 41st most populous country. Kathmandu is the nation's capital and the country's largest metropolis.
				</div>
				<div class = "tab2">
					Nepal has a rich geography. The mountainous north has eight of the world's ten tallest mountains, including the highest point on Earth, Mount Everest, called Sagarmatha in Nepali. It contains more than 240 peaks over 20,000 ft (6,096 m) above sea level.[7] The fertile and humid south is heavily urbanized.
				</div>
				<div class = "tab3">
					By some measures, Hinduism is practised by a larger majority of people in Nepal than in any other nation. Buddhism, though a minority faith in the country, is linked historically with Nepal. Many Nepali do not distinguish between Hinduism and Buddhism and follow both religious traditions. There are 3 different buddhist traditions: Himalayan Buddhism, Buddhism of Kathmandu Valley (mostly Mahayana and Vajrayana), and also the Theravada Buddhism.
				</div>
			</div>
		</div>
		<div id = "our-goals-sub" style="display: none" >
			<div class= "tabs">
				<span class = "tab1">
					<a href="javascript:void(0);">Tab1</a>
				</span>
				<span class = "tab2">
					<a href="javascript:void(0);">Tab2</a>
				</span>
				<span class = "tab3">
					<a href="javascript:void(0);">Tab3</a>
				</span>
			</div>
<div id = "gallery">
  <div class = "image-holder">
      <%= image_tag("hemo1.jpg",:class => "thumb") %>
  </div>
  <div class = "image-holder">
      <%= image_tag("hemophilia3.gif",:class => "thumb") %>
  </div>
  <div class = "image-holder">
      <%= image_tag("hemophilia3.jpg",:class => "thumb") %>
  </div>
  <div class = "image-holder">
      <%= image_tag("hemophilia2.jpg",:class => "thumb") %>
  </div>
  <div class = "image-holder">
      <%= image_tag("hemophilia3.jpg",:class => "thumb") %>
  </div>
  <div class = "image-holder">
      <%= image_tag("hemophilia3.gif",:class => "thumb") %>
  </div>
</div>			
			<div class = "tab-content style="display: none">
				<div class = "tab1">
					Unfortunately here in Nepal the patients are mostly dependent on blood products.
				</div>
				<div class = "tab2">
					the patients are mostly dependent
				</div>
				<div class = "tab3">
					on blood products.
				</div>
			</div>
		</div>
	</div>
	
</div>
  



